body{
    width: 100%;
}

.right {
    border: solid;
    width: 50%;
    position: relative;
    float: right;
    height: 600px;
    text-align: right;
}
.left{
    float: right;
    width: 49%;
    height: 600px;
    border: solid black;
}
.pic1{
    width: 45%;  
    height: 10%;
    float: right;
}
.pic2{
    width: 45%;  
    height: 30px; 
    float: right;

}
.pic3{
    width: 45%;  
    height: 30px;
    float: right;

    
}
.pic4{
    width: 45%;  
    height: 30px;
    float: right;

}
.pic5{
    width: 45%;  
    height: 30px;
    float: right;

}
.pic6{
    width: 20px;  
    height: 30px;
    float: right;

}

.first{

}
.second{

}
.three{

}